h1{
    color:aqua;
}
.menu{
    display:flex;
    justify-content: space-between;
    background-color: beige;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: cadetblue;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.origami{
    border-radius: 20px;
    background-color: chocolate;
    font-family: fantasy;
    width: 310px;
}
